@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {     /* :root {}   =   html {} */
    --font-cab: 'Passion One', Arial, Helvetica, sans-serif;
    --font-corpo: 'Sriracha', cursive;
}


body {
    margin: 0;
}

                  /* CABEÇALHO */

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 25px;
}

header h1 {
    text-transform: uppercase;
    /*font-weight: normal;*/
    margin-top: 5px;
    font-family: var(--font-cab);
}
header p {
    margin-bottom: 5px;
    margin-top: -18px;
    font: .75em Arial, Helvetica, sans-serif;
}

header p span {    
    font-weight: bold;
}

/* somente os elementos 'span' que contenham a classe 'fl' serão 'inline-block' */

span.fl {
    display: inline-block;
}

span::first-letter {    /* como o elemento 'span' é um elemento embutido (inline), este seletor só funcionará nos elementos 'span' que tiverem o seu tipo de exibição padrão alterado. */
    font-size: 1.4em;
}


                   /* MAIN */

main {
    max-width: 500px;
    margin: auto;
}

main p {
    font: 1em var(--font-corpo);
    margin: 0;
}

div.tipo1 {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 50px 10px;
}

div.tipo2 {
    background: url('../img/background001.jpg') center/cover;
    color: #fff;
    padding: 50px 0px;
}

.tipo2 p {
    background-color: #0000004a;
    text-align: left;
    max-width: 200px;
    padding: 10px 10px;
}

div.tipo3e4 {
    padding: 50px 10px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.tipo3e4 p:first-child {
    margin-bottom: 20px;
}

div.tipo5 {
    background: url('../img/background002.jpg') center/cover;
    /*color: #fff;*/
    padding: 50px 0px;
}

div.tipo5 p {
    background-color: #0000004a;
    text-align: left;
    max-width: 200px;
    padding: 10px 10px;
    /*margin-left: -10px;*/
    box-sizing: content-box;
}

div.tipo6e7 {
    padding: 50px 10px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.tipo6e7 p:first-child {
    margin-bottom: 20px;
}