@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Heaters';
    src: url('../fontes/Heaters.otf') format('opentype'), url('../fontes/Heaters.ttf') format('truetype'), url('../fontes/Heaters.woff') format('WOFF');
    font-style: normal;
    font-weight: normal;
}

:root {
    --fonte-titulo: 'Heaters', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte-corpo: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --cor01: #3D315B;
    --cor02: #444B6E;
    --cor03: #708B75;
    --cor04: #9AB87A;
}

/* seletor universal, seus estilos são aplicados a todos os elementos */
* {
    margin: 0;
}

body {
    background: url('https://64.media.tumblr.com/tumblr_mcfblr9CEA1rirnzso1_400.jpg');
    
    
}
 
                    /* HEADER */

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    font: 3em var(--fonte-titulo);
    word-spacing: -0.1em; /* tracking */
    /* 'em' é uma unidade relativa sempre ao tamanho da fonte */
    letter-spacing: 0.1em; /* kerning */
}

h1::before {
    content: '\1F56E\00A0';
}

                    /* MAIN */

main {
    padding: 2vw;
    max-width: 800px;
    margin: auto;
}


h2 {
    font-family: var(--fonte-corpo);
    margin: 0.83em 0;
    text-decoration: underline double;
}

p {
    font-family: var(--fonte-corpo);
    
}

main p {
    text-indent: 20px;
}

span {
    text-decoration: underline;
}

code {
    font-size: 1.2em;
}

pre {
    background-color: #000;
    color: #fff;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px #000;
    white-space: pre-wrap;
}

div#para {
    width: 400px;
    height: 400px;
    color: #fff;
    background: var(--cor02) url('https://www.travelandleisure.com/thmb/91pb8LbDAUwUN_11wATYjx5oF8Q=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/new-york-city-evening-NYCTG0221-52492d6ccab44f328a1c89f41ac02aea.jpg') center/cover fixed;
    margin: auto;
    padding: 15px;
}
