@charset "UTF-8"; /* documento compatível com caracteres especiais */

body {
    font-size: 95%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("https://logospng.org/download/google/logo-google-256.png") fixed 50% 15% no-repeat, url("https://logospng.org/download/netflix/logo-netflix-256.png") no-repeat 50% 55% fixed, url("https://logospng.org/download/prime-video/logo-prime-video-256.png") no-repeat 50% 95% fixed, linear-gradient(to right, #fff, #a2a2a2);
}

h1 {
   /*border: double;*/
    margin: 0 180px;
    padding: 5px 0 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -1px inset;
    /*font-weight: normal;*/
}

h1, h2 {
    text-align: center;
    text-shadow: 1px 1px 0 #fff, 2px 2px 0 #888;
    /*font-weight: normal;*/
}

p {
    text-align: justify;
}

.ita {
    font-style: italic;
}

a {
    font-size: 1.05263158em;

}