@charset "UTF-8";

table {
    /*border-spacing: 16px; essa propriedade só funciona se 'border-collapse: separate'*/
    border-collapse: collapse;
    border: 2px solid;
}

caption {
    padding-bottom: 10px;
    font: italic small-caps bold 1.5em 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* 'small-caps': as letras minúsculas ganham a forma de letras maiúsculas. O tamanho permanece o mesmo, de minúsculas */
}

caption::after { /* espaço = \00A0 */
    content: '\00A0\1F4CB';
    
}

thead {
    background-color: chocolate;
    border-bottom: 2px solid;
    position: sticky;
    top: -1px;
}

td, th {
    border: 1px solid #000;
    /* o navegador exibe as células separadas por um espaço de 2px = border-collapse: separate;
                    border-spacing: 2px; */
    padding: 10px 20px;
}

td {
    text-align: center;
}

tr:nth-child(even) { /* even = par, odd = ímpar */
    /* essa pseudoclasse seleciona elementos com base na posição que eles ocupam dentro de um elemento pai */
    background-color: lightgray;
}

tfoot {
    background-color: bisque;
}

::selection {
    background-color: black;
    color: #fff;
}